@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

header,
nav {
  z-index: 10001 !important;
}

.img-product {
  filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.5));
}
